@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Semibold.eot');
	src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
	url('OpenSans-Semibold.woff') format('woff'),
	url('OpenSans-Semibold.ttf') format('truetype'),
	url('OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}