@font-face {
	font-family: 'Open Sans';
	src: url('Opensansregular.eot');
	src: url('Opensansregular.eot?#iefix') format('embedded-opentype'),
	url('Opensansregular.woff') format('woff'),
	url('Opensansregular.ttf') format('truetype'),
	url('Opensansregular.svg#Opensansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}