@font-face {
	font-family: 'Open Sans';
	src: url('Opensansitalic.eot');
	src: url('Opensansitalic.eot?#iefix') format('embedded-opentype'),
	url('Opensansitalic.woff') format('woff'),
	url('Opensansitalic.ttf') format('truetype'),
	url('Opensansitalic.svg#Opensansitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}